*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
background-image: url(assets/Imagen-fit.png);
background-size: cover;
background-repeat: no-repeat;

display: flex;
justify-content: center;
align-items: center;
min-height: 100vh

}

.container{
background: #fff;
padding: 50px;
font-size: 18px;
font-weight: 500;
max-width: 400px;
border-radius: 15px;
box-shadow: 0 10px 25px rgba(0,0,0.3);

}

.login-form{
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

.form-input, .group-input{
display: flex;
flex-direction: column;
gap: 5px;

border: 1px solid none;
outline: none;

width: 100%;
border-radius: 5px ;
}

.input{
width: 100%;
padding: 6px;
font-size: 15px;
border: 1px solid #ccc;
outline: none
}

.btn{
font-size: 14px ;
background-color: black;
color: #fff;
width: 35vh;
padding: 6px;
border-radius: 8px;
cursor: pointer;
}

.message-paragraph{
text-align: center;
margin-top: 10px;
font-size: 14px;
font-weight: bold;
}

.btn:hover{
background-color: #333;
opacity: 0.8;
}

.btn:active{
transform: 0.8;
}

.password{
font-size: 20px;
}

.signup-footer{
font-size: 15px;
display: flex;
justify-content: center;
gap: 8px;
}



@media (max-width: 480px) {
.container{
width: 90%;
padding: 20px;
}

.btn{
padding: 12px;
}

}